 :root{
	--app-bar-height: 3em;
} 

.appBarBar {
	background-color: var(--main-bright); 
	display: grid;
	grid-template-columns: var(--app-bar-height) auto var(--app-bar-height);
    height: var(--app-bar-height);
    width: 100%;
} 
.appBarIcon {
	color: white;
    height: var(--app-bar-height);
	width: var(--app-bar-height);
}
