:root{
	--app-bar-height: 4em;
} 

.appBarBar {
	background-color: var(--main-bright); 
	display: grid;
	grid-template-columns: 4em auto 4em;
    height: var(--app-bar-height);
    width: 100%;
} 
img {
    height: 2em;
	width: 2em;
	margin: 1em 1em
}
.iconTwo {
	height: 1.6em;
	width: 1.6em;
}
