
.appBarBar {
	background-color: var(--main-bright); 
	display: grid;
	grid-template-columns: var(--app-bar-height) auto var(--app-bar-height);
    height: var(--app-bar-height);
    width: 100%;
	position: fixed;
	top: 0;
} 
.appBarBar img {
    height: 2em;
	width: 2em;
	margin: 0.5em
}
.iconTwo {
	margin: 0.7em !important;
	height: 1.6em !important;
	width: 1.6em !important;
}
