:root{
    --my-nav-bar-pc-height: 3.5em;
}

.container{
    background-color: var(--darker-field);
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-template-rows: auto;
    justify-content: center;
    left: 0;
    margin: auto; 
    padding: 0 1.6em;
    right: 0;
    top: 0;
    height: var(--my-nav-bar-pc-height);
}

.menuItem{
    column-gap: 0.7em;
    display: grid;
    grid-template-columns: min-content min-content;
    margin: 0 1.3em;
}

.menuItem img{
    margin: auto;
}

.menuItem p{
    margin-top: 1.2em;
}