.container{
    display: grid;
    grid-template-rows: 1fr min-content;
    height: 100vh;
    width: 100vw;
    align-content: stretch;
    align-items: stretch;
    overflow: hidden;
    grid-template-columns: 100%;
}

.mainContent{
    margin-top: var(--my-nav-bar-pc-height);
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-self: stretch;
    background-color: red;
}

.infoPart{
    background-color: var(--darker-field);
}