.container{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 50%;
    width: 130px;
}

.btnContainer{
    overflow: hidden;
    display: flex;
}

.container img{
    height: 90%;
    object-fit: scale-down;
    align-self: center;
}

.playBtn{
    height: 100% !important;
    transform: translateX(-11%);
}