
h1{
    font-size: 2.05em; 
    color: var(--dark-text);
    text-align: center;
    margin: 0.2em;
    font-weight: 100;
 }
 
 .btnContainer{
     display: grid;
     grid-template-columns: auto auto;
     column-gap: 1em;
     margin: 0.3em auto 0.9em auto;
     max-width: 50em;
     padding: 0 1.45em;
 }

 .songList{
    max-width: 55em;
    margin: 0 auto var(--app-bar-height) auto;
    overflow: hidden !important;
    padding: 0 2em;
 }

 .songList > *{
     overflow: hidden !important;
     height: 100%;
 }