.container{
    display:grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    height: min-content;
    height: 100%;
    width: 100px;
    column-gap: 2em;
}

.container img{
    height: 50%;
    object-fit: contain;
}

.prevSong{
    rotate: 180deg;
}
.playBtn{
    transform: translateX(-23%);
}