

.roundedButton{
    background-color: var(--darker-field);
    border-radius: 0.8em;
    display: grid;
    grid-template-columns: auto auto;
    height: 2.3em;
    column-gap: 0.4em;
}

.roundedButton img{
    object-fit: contain;
    height: 1em;
    align-self: center;
    justify-self: flex-end;
    margin: 0;
}

.roundedButton p{
    color: var(--dark-text);
    align-self: center;
    margin: 0;
}