:root{
  --main-bright: #6BC96E;
  --dark-text: #404040;
  --normal-text: #484848;
  --bright-text: #7C7C7C;
  --darker-field: #FAFAFA;
}

@font-face {
  font-family: main;
  src: url(./Roboto-Light.ttf);
}

* {
  font-family: main;
}