:root{
  --dark-text: #404040;
  --normal-text: #484848;
  --bright-text: #7C7C7C;

  --main-bright: #6BC96E;
  --darker-field: #FAFAFA;
  --dark-field: #e2e2e2;

  --dark-component: #818181;
}

@font-face {
  font-family: main;
  src: url(./Roboto-Light.ttf);
}

* {
  font-family: main;
  color: var(--normal-text);
}


html, body, #root { height: 100%; width: 100%; margin: 0; }